$cm-primary-bg-color: white;

.modal-content {
  height: 850px;
  width: 100%;
  position: relative;
}

.comments-send {
  position: absolute;
  bottom: 4em;
  padding: 2em;
  background-color: $cm-primary-bg-color;
  height: 280px;
  width: 90%;
}

@media only screen and (max-width: 800px) {
  .comments-send {
    height: 400px;
  }
  .modal-content {
    height: 980px;
  }
}
