$pc-primary-title-color: lightslategrey;
$pc-primary-bg-color: azure;
$pc-primary-border-color: lightgrey;

.postcomments-title {
  font-weight: bold;
  color: $pc-primary-title-color;
}

.postcomments-information {
  background-color: $pc-primary-bg-color;
  padding: 1em;
  margin: 2em;
  border: solid 1px $pc-primary-border-color;
  border-radius: 2em;
}

.postcomments-message {
  height: 400px;
  width: 100%;
  overflow-y: auto;
}
